* {
  font-family: Arial, Helvetica, sans-serif;
  /* outline: 2px solid red; */
  box-sizing: border-box;
  margin: 0;
  background-color: #525659;
}
/* Define styles for the section */
.section {
  padding: 10px;
  background-color: #323639;
  color: #fff;
  text-align: center;
}

/* Define styles for the buttons */
button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #323639;
  border-radius: 50px;
  color: #fff;
  border: none;
}

/* Define styles for the buttons on hover */
button:hover {
  background-color: #424649;
}

/* Define styles for the canvas */
#pdf_canvas {
  display: block;
  margin: auto;
  border: 1px solid #ccc;
  background-color: #111;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

/* Define styles for the page number and count */

#page_num {
  font-weight: bold;
  padding: 3px;
  background-color: #191b1c;
}
#page_count {
  font-weight: bold;
  background-color: #191b1c;
}

#zoomed {
  font-weight: bold;
  display: inline-block;
}

/* #canvas{
  position: absolute;
  top:700px;
  left: 50%;
  width: 900px;
  height: 1200px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  outline: 2px solid red;
} */
